<launch>
	<arg name="lasertopic" default="/scan" />

	<node pkg="map_server" type="map_server" name="map_server" args="$(find spqrel_navigation)/maps/DISB1.yaml" output="screen">
		<param name="frame_id" value="/map" />
	</node>

	<node pkg="tf" type="static_transform_publisher" 	name="laser_state_publisher"
	    args="0 0 0 0 0 0 base_frame laser_frame 100" />

	
	<!-- hokuyo -->	
	<node pkg="thin_hokuyo" type="thin_hokuyo_node" name="hokuyo" output="screen">
		<param name="serial_port" value="/dev/hokuyo" />

	</node>

	<node pkg="spqrel_navigation" type="srrg_localizer2d_node" name="localizer" output="screen">
		<param name="base_frame_id" value="base_frame" />
		<param name="laser_topic" value="scan" />
		<param name="initial_pose_x" value="15" />
		<param name="initial_pose_y" value="13" />
		<param name="initial_pose_a" value="0" />
	</node>
	
	<node pkg="spqrel_navigation" type="spqrel_planner_node" name="planner" output="screen">
		<param name="base_frame_id" value="base_frame" />
		<param name="laser_topic" value="scan" />
	</node>


</launch>

