<launch>
<arg name="lasertopic" default="/scan" />
<arg name="enabled" default="true" />
<arg name="gui" default="false" />

<arg name="paramsdir" default="$(env MARRTINO_APPS_HOME)/navigation/config/$(env ROBOT_TYPE)" />

<!-- gradient_based_navigation -->

<node pkg="gradient_based_navigation" type="gradient_based_navigation" args="40" name="gradientBasedNavigation" output="screen">

    <rosparam file="$(arg paramsdir)/gradient_based_navigation.yaml" command="load" />

    <param name="GUI" value="$(arg gui)" />
    <param name="gbnEnabled" value="false" />  <!-- disabled, use rosparam set /gradientBasedNavigation/gbnEnabled true to enable -->
    <remap from="base_scan" to="$(arg lasertopic)" />

    <remap from="cmd_vel" to="cmd_vel_mux/input/navi" if="$(eval env('ROBOT_TYPE') == 'turtlebot')"  />  <!-- Turtlebot -->

</node>
		
</launch>

