<launch>
	<arg name="lasertopic" default="/scan" />
			
	<!-- gradient_based_navigation -->	
	<node pkg="gradient_based_navigation" type="gradient_based_navigation" args="40" name="gradientBasedNavigation" output="screen">
		<param name="GUI" value="false" />
		<param name="obstaclesDistanceInfluence_m" value="0.6" />
		<param name="force_scale" value="0.3" />
		<param name="momentum_scale" value="0.1" />
		<remap from="base_scan" to="$(arg lasertopic)" />
	</node>

		
</launch>

