<launch>
    <arg name="base_frame" default="base_frame" />
    <arg name="laser_topic" default="scan" />
    <arg name="laser_frame" default="laser_frame" />
    <arg name="gui" default="false" />
    <arg name="cmdvel" default="cmd_vel" />  <!--  -->


    <!-- spqrel_planner -->    
   
    <node pkg="spqrel_navigation" type="spqrel_planner_node" name="spqrel_planner" output="screen">
        <param name="base_frame_id" value="$(arg base_frame)" />
        <param name="laser_topic" value="/$(arg laser_topic)" />
        <param name="map_topic" value="/map" />
        <param name="static_map_service" value="/map" />
        <param name="max_linear_vel" value="0.2" />
        <param name="max_angular_vel" value="0.75" />
        <param name="min_angular_vel" value="0.1" />
        <param name="max_linear_acc" value="0.2" />
        <param name="max_angular_acc" value="0.5" />
        <param name="robot_radius" value="0.3" />
        <param name="goal_translation_tolerance" value="0.4" />
        <param name="goal_rotation_tolerance" value="0.5" />
        <param name="use_gui" value="$(arg gui)" />
        <param name="tf_timecheck" value="false" />
        <remap from="cmd_vel" to="desired_cmd_vel" />  <!-- to connect to gradient_based_navigation -->
    </node>


    <!-- gradient_based_navigation -->    

    <node pkg="gradient_based_navigation" type="gradient_based_navigation" args="40" name="gradientBasedNavigation" output="screen">
        <remap from="base_scan" to="$(arg laser_topic)" />
        <param name="GUI" value="true" />
        <param name="obstaclesDistanceInfluence_m" value="0.3" />
        <param name="max_vel_x" value="0.2" />
        <param name="max_vel_theta" value="0.5" />
        <param name="force_scale" value="0.3" />
        <param name="momentum_scale" value="0.1" />
        <param name="rate" value="10" />
        <param name="gbnEnabled" value="false" />  <!-- disabled, use param set to enable -->

        <remap from="cmd_vel" to="cmd_vel_mux/input/navi" if="$(eval env('ROBOT_TYPE') == 'turtlebot')"  />  <!-- Turtlebot -->

    </node>

        
</launch>

