<launch>

	<!-- robot node -->
	<node pkg="srrg2_orazio_ros" type="orazio_robot_node" name="robot" output="screen">
	</node>

	<node ppkg="thin_state_publisher" type="thin_state_publisher_node" name="state_pub" args="-odom_topic odom -base_link_frame_id base_frame -odom_frame_id odom config/transforms.txt" >
	</node>

</launch>

