<launch>

  <!-- transforms -->
  <node pkg="thin_state_publisher" type="thin_state_publisher_node" name="state_pub_laser"
	    args="-odom_topic odom -odom_frame_id none $(env MARRTINO_APPS_HOME)/laser/config/transforms.txt" output="screen">
  </node>

  <node pkg="rplidar_ros"  type="rplidarNode" name="rplidar"  output="screen">
	<param name="serial_port"         type="string" value="$(optenv LASER_DEVICE /dev/rplidar)"/>  
  	<param name="serial_baudrate"     type="int"    value="115200"/>
  	<param name="frame_id"            type="string" value="laser_frame"/>
  	<param name="inverted"            type="bool"   value="false"/>
  	<param name="angle_compensate"    type="bool"   value="true"/>
  </node>
	


</launch>


