<launch>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam file="tag_descriptions.yaml" command="load" />
    <remap from="/camera_info" to="/rgb/camera_info"/>
    <remap from="/image_rect" to="/rgb/image_raw"/>
  </node>

</launch>

