<launch>
  <arg name="rgbcameraframe" default="rgb_camera_frame" />
  <arg name="depthcameraframe" default="depth_camera_frame" />
  <arg name="baseframe" default="base_frame" />
  <arg name="laserframe" default="laser_frame" />
  <arg name="lasertopic" default="/scan" />
  <arg name="viewimage" default="false" />

  <include file="$(env MARRTINO_APPS_HOME)/camera/xtion.launch">
    <arg name="rgbcameraframe" default="$(arg rgbcameraframe)" />
    <arg name="depthcameraframe" default="$(arg depthcameraframe)" />
    <arg name="viewimage" value="$(arg viewimage)" />
  </include>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <rosparam param="tag_descriptions">[
      {id: 0, size: 0.162, frame_id: tag0_frame},
      {id: 1, size: 0.162, frame_id: tag1_frame},
      {id: 2, size: 0.162, frame_id: tag2_frame},
      {id: 3, size: 0.162, frame_id: tag3_frame},
      {id: 4, size: 0.162, frame_id: tag4_frame},
      {id: 5, size: 0.162, frame_id: tag5_frame}]
    </rosparam>
    <remap from="/camera_info" to="/rgb/camera_info"/>
    <remap from="/image_rect" to="/rgb/image_raw"/>
  </node>

</launch>
