<launch>
	<arg name="use_joystick" default="true" />
	<arg name="use_4wd" default="false" />  <!-- 4WD robot control -->
	<arg name="cmdvel" default="cmd_vel" if="$(eval env('ROBOT_TYPE') != 'turtlebot')" />  <!-- use joystick_cmd_vel if gbn active -->
	<arg name="cmdvel" default="cmd_vel_mux/input/teleop" if="$(eval env('ROBOT_TYPE') == 'turtlebot')" />  <!-- turtlebot -->

    <!-- keyboard -->
	<group unless="$(arg use_joystick)">
	    <node pkg="gradient_based_navigation" type="keyboard_control" name="keyboard" output="screen">
			<remap from="joystick_cmd_vel" to="$(arg cmdvel)" />
		</node>
	</group>

	<!-- joystick -->
	<group if="$(arg use_joystick)">
	    <node pkg="joy" type="joy_node" name="joy" output="screen">
		  <param name="dev" type="string" value="/dev/input/js0" />
		  <param name="deadzone" value="0.12" />		  
	    </node>

      <group unless="$(arg use_4wd)">
	    <node pkg="gradient_based_navigation" type="joystick_control" name="joystick" output="screen">
		  <remap from="joystick_cmd_vel" to="$(arg cmdvel)" />
		  <param name="max_vel_x" value="0.2" />
		  <param name="max_vel_th" value="0.5" />
		</node>
  	  </group>

	</group>
		
</launch>

